<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="taxBracketConfigSection" type="SimpleConfig.SimpleConfigHandler, SimpleConfig" />
  </configSections>
  <taxBracketConfigSection>
    <taxBrackets>
      <taxBracketConfig minSalary="0" maxSalary="18200" taxInCentsPerDollar="0" baseTax="0" />
      <taxBracketConfig minSalary="18200" maxSalary="37000" taxInCentsPerDollar="19" baseTax="0" />
      <taxBracketConfig minSalary="37000" maxSalary="80000" taxInCentsPerDollar="32.5" baseTax="3572" />
      <taxBracketConfig minSalary="80000" maxSalary="180000" taxInCentsPerDollar="37" baseTax="17547" />
      <taxBracketConfig minSalary="180000" maxSalary="-1" taxInCentsPerDollar="45" baseTax="54547" />
    </taxBrackets>
  </taxBracketConfigSection>
</configuration>